/* Module code: CS5003 */
/* Module: Masters Programming Projects */
/* Matriculation numbers: 220024877, 220033532, 220009855, 220033540, 220031591 */
/* Recommendation Algorithm: Creating a Holiday Planner */

.panelDisplay {
  height: auto;
  display: flex;
  padding: 3px;
  margin: 3px;
  border: 3px solid black;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}

.resultPanel {
  position: relative;
  vertical-align: top;
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
  width: 20vw;
  height: 20vw;
}

.detailSubPanel {
  padding: 3px;
  margin: 3px;
  border: 3px solid black;
}

.filterForm {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 3px;
  border: 3px solid black;
}
.filterSettings {
  flex: 1;
  float: left;
  padding: 3px;
  border: 1px solid black;
}

.submissionForm {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 3px;
  border: 3px solid black;
}
.submissionSettings {
  flex: 1;
  float: left;
  padding: 3px;
  border: 1px solid black;
}
