/* Module code: CS5003 */
/* Module: Masters Programming Projects */
/* Matriculation number: 220024877, OTHER MATRICULATION NUMBERS */
/* Creating a Holiday Planner */

/* Styling the map display */
#map {
  height: 400px;
  width: 90%;
  margin: 15px;
}
